<!DOCTYPE html>
<html lang=”en-GB”>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Hapi Basic Authentication</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        {{! Import the contents of header.html from partials}} 
        {{> header}} 
        
        {{! Every view gets inserted here }} 
        {{{content}}}

    </div>

    {{! Import the contents of footer.html from partials}} {{> footer}}

</body>

</html>